@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  @apply font-outfit;
  scroll-behavior: smooth;
}

.ham-menu div {
  transition: all 0.3s ease-in-out;
}

.ham-open div:first-child {
  transform: rotate(45deg) translateY(11px);
  transition: all 0.3s ease-in-out;
}

.ham-open div:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}

.ham-open div:last-child {
  transform: rotate(-45deg) translateY(-11px);
  transition: all 0.3s ease-in-out;
}

html {
  user-select: none;
}

.service-card:hover {
  @apply bg-nethraBlue;
  @apply text-white;
}

.service-card:hover svg {
  fill: white;
}

.service-card:hover div {
  @apply bg-white;
}
