@tailwind base;
@tailwind components;
@tailwind utilities;

.ham-open div:first-child {
  transform: rotate(45deg) translateY(11px);
}

.ham-open div:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}

.ham-open div:last-child {
  transform: rotate(-45deg) translateY(-11px);
}

html {
  user-select: none;
}

.service-card:hover {
  @apply bg-nethraBlue;
  @apply text-white;
}

.service-card:hover svg {
  fill: white;
}

.service-card:hover div {
  @apply bg-white;
}
